body{
    background-color: gray; 
    width: 100vw
}
.redes{
    width: 25px; height: 25px;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
#primeiro-paragrafo{
    text-align: center; color: greenyellow;
}
#alinhamento{
    text-align: center;
}
#l1{
    text-align: center;
    size: 50px;
    font-family: sans-serif;
}
.prod{
    width: 100px;
}