body{
    background-image: url(./img/fundo\ copy.jpg); 
    background-repeat: no-repeat;
}
.redes{
    width: 25px; height: 25px;
}
h1{
    text-align: center;
    font-family: sans-serif;
}
#primeiro-paragrafo{
    text-align: center; color: rgb(4, 31, 107);
}
#alinhamento{
    text-align: center;
    color: cornsilk;
}
a{
    border-style: solid;
    background-color: blue;
    margin: 6px;
    padding: 4px;
    color: rgb(48, 47, 46);
}
#l1{
    text-align: center;
    size: 50px;
    font-family: sans-serif;
}
.prod{
    width: 100px;
}