body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image:  linear-gradient(1deg,black,#e9e9e963), url("wallpaper-5045169_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}